/* Hero */

.hero {
  background: url('../images/Hero_Background.jpg') center/cover no-repeat;
  padding: 200px 0;
  text-align: center;
}

.hero__title {
  font-weight: 900;
  color: #fff;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0 auto 30px;
  /*
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  */
}

/* /Hero */

/* Specifics */

.specifics-item__icon-bg {
  border-radius: 4px;
  background-color: #f5f4fa;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.specifics-item__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.specifics-item__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--light-text);
}

.specifics__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  /* column-gap: 30px;
  row-gap: 50px; */
}

@media (max-width: 980px) {
  .specifics__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  .specifics__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .specifics-item__title {
    text-align: center;
  }
}

/* /Specifics */

/* Work */

.work__list {
  display: flex;
  gap: 30px;
}

.work-item {
  height: 294px;
  position: relative;
}

.work-item__bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work-item__info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
  text-align: center;
}

.work-item__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 980px) {
  .work__list {
    flex-direction: column;
  }

  .work-item {
    height: 325px;
  }
}

/* /Work */

/* Team */

.team {
  background-color: #f5f4fa;
  padding: 94px 0;
}

.team__members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.member-card {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  text-align: center;
  padding-bottom: 30px;
}

.member-card__img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  margin-bottom: 30px;
}

.member-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.member-card__job {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--light-text);
  margin-bottom: 16px;
}

.member-card__socials {
  margin: 0 auto;
}

@media (max-width: 980px) {
  .team__members {
    grid-template-columns: repeat(2, 1fr);
  }

  .member-card__img {
    height: 374px;
  }
}

@media (max-width: 720px) {
  .team__members {
    grid-template-columns: repeat(1, 1fr);
  }

  .member-card__img {
    height: 460px;
  }
}

/* /Team */

/* Clients */

.clients__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.clients__link path {
  transition: fill 0.3s;
}

.clients__link:hover {
  border: 1px solid var(--accent-color);
}

.clients__link:hover path {
  fill: var(--accent-color);
}

@media (max-width: 980px) {
  .clients__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 720px) {
  .clients__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* /Clients */